/* 

these are the colors used in the example
***you can use them if you'd like or you can choose your own***

black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***

*/

.header{
background-color: rgb(37, 37, 37);
width:  100%;
height:  75px;
display: flex;
justify-content: space-between;
margin: 0;
}

.title {
    color: blue;
    font-size: 30px;
    width: 25%;
    height: 75px;
    margin: 0;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    

}


.inner {
    width: 40%;
    height: 75px;
    display: flex;
    justify-content: space-around;
    
}

.btn {
color: rgb(225, 225, 225);
background-color: transparent;


}

.one{
width: 60px;
height: 75px;
}

.two{
    width: 60px;
    height: 75px;
}

.three {
    width: 80px;
    height: 75px;
}

.four {
    width: 70px;
    height: 75px;
}

.header2 {
    margin-left: 100px;
    padding: 5px;
}


.box1 {
    width: 80%;
    height:600px ;
    margin-left: 100px;
    font-family: unset;
    position: relative;
}

.header3 {
    margin-left: 100px;
}

.box2 {
    border: dotted 2px purple;
    width: 48%;
    height:300px;
    margin-left: 100px;
    margin-bottom: 10px;
}

.img {

}


.body2{
    width: 100%;
    height: 680px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.box6{
    width: 60%;
    height: 680px;
}


.box5 {
width: 40%;
height: 640px;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.box3 {
    width: 100%;
    height: 280px;
    display: flex;
    justify-content: center;
}

.person {
border: solid 1px lightslategray;
box-shadow: 1px 1px 10px gray;
width: 40%;
height: 280px;
margin-top: 20px;
text-align: center;

}


.persImg {
width: 60%;
height: 180px;
margin-top: 30px;
}



.box4 {
    width: 100%;
    height: 310px;
    display: flex;
    justify-content: center;
}


.popular {
    text-align: center;
    border: solid 1px lightslategray;
    box-shadow: 1px 1px 10px gray;
    width: 40%;
    height: 310px;
    margin: 0;
}


footer {
    background-color: lightskyblue;
    width: 100%;
    height: 50px;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footTitle {
    margin-left: 10px;
}

.circle{
    border: solid 3px black;
    border-radius: 100%;
    margin-top: 10px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

